<h1>Objective:</h1>
<h3>In this final assignment, you will:</h3>

ðŸ“Œ Create a Jupyter Notebook

ðŸ“Œ Insert code and markdown cells

ðŸ“Œ Share your notebook through GitHub

<li>Exercise 1: Create a Jupyter Notebook</li>
<li>Exercise 2: Create markdown cell with title of the notebook</li>
<li>Exercise 3 - Create a markdown cell for an introduction</li>
<li>Exercise 4 - Create a markdown cell to list data science languages</li>
<li>Exercise 5 - Create a markdown cell to list data science libraries</li>
<li>Exercise 6 - Create a markdown cell with a table of Data Science tools</li>
<li>Exercise 7 - Create a markdown cell introducing arithmetic expression examples</li>
<li>Exercise 8 - Create a code cell to multiply and add numbers</li>
<li>Exercise 9 - Create a code cell to convert minutes to hours</li>
<li>Exercise 10 - Insert a markdown cell to list Objectives</li>
<li>Exercise 11 - Create a markdown cell to indicate the Author's name</li>
<li>Exercise 12 - Share your notebook through GitHub</li>
<li>Exercise 13 -Take a screenshot of the first page of the notebook and save it as 1-notebook.png(Images can be saved with either the .jpg or .png extension.)</li>

<h1> Jupyter Notebook </h1>
âœ” Name: DataScienceEcosystem.ipynb

<h1> Data Science Tools and Ecosystem </h1>

ðŸ“Œ In this notebook, Data Science Tools and Ecosystem are summarized

<h3>Objectives:</h3>

<li>List popular languages that Data Scientists use.</li>
<li>List commonly used libraries used by Data Scientists.</li>
<li>Comment on Data Science tools.</li>

<h3>Some of the popular languages that Data Scientists use are:</h3>
<li>Python.</li>
<li>R.</li>
<li>SQL.</li>
<li>Java.</li>
<li>Julia.</li>
<li>Scala.</li>
<li>C/C++.</li>
<li>JavaScript.</li>
<li>NoSQL.</li>

<h3>Some of the commonly used libraries used by Data Scientists include:</h3>
<li>TensorFlow.</li>
<li>NumPy.</li>
<li>SciPy.</li>
<li>Pandas.</li>
<li>Matplotlib.</li>
<li>Keras.</li>
<li>SciKit-Learn.</li>
<li>PyTorch.</li>
<li>Scrapy.</li>
<li>BeautifulSoup.</li>

<h3>Data Science Tools:</h3>
<table style=\"width:50%\">
<tr>
<td>Apache Spark.</td>
</tr>
<tr>
<td>SAS.</td>
</tr>
<tr>
<td>Git/GitHub.</td>
</tr>    
<tr>
<td>Cloud: AWS, Google Cloud, Azure.</td>
</tr>   
<tr>
<td>Kubernetes - Docker.</td>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [86]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5
#result 17

17

In [80]:
#This will convert 200 minutes to hours by diving by 60
(200/60)
#result 3.3333333333333335

3.3333333333333335

<h2> Author: </h2>
Aldana Torralvo